### hello world

# hhi

#### hi

##### hi

###### hi

In [1]:
print("Hello world")

Hello world

In [2]:
print("Roshan")

Roshan

In [3]:
print("datascience")

datascience

#### variable

In [1]:
name="roshan"
age=21
income=20000

In [2]:
name 
age
income

20000

In [8]:
print(name)
print(age)
print(income)

roshan
21
20000

In [11]:
namelist="roshan","dubey"

In [3]:
namelist="roshan","dubey"
namelist

('roshan', 'dubey')

In [7]:
namelist

('roshan', 'dubey')

In [8]:
name list

SyntaxError: invalid syntax (3789876968.py, line 1)

### space is n0t allowed

In [9]:
1namelist="roshan"
1namelist

SyntaxError: invalid decimal literal (3069656879.py, line 1)

## variable name should not start with integers

### variable should not contain any special character

### variable name should start with A-Z,a-z or underscore

In [15]:
name_list="roshan"
name_list

'roshan'

In [16]:
name="roshan"
name="dubey"

In [17]:
print(name)

dubey

In [18]:
x=y=z=5

In [19]:
print(x)

5

In [20]:
print(y)

5

In [21]:
print(z)

5

In [22]:
x,y,z=1,2,3

In [23]:
print(x)

1

In [24]:
print(y)

2

In [25]:
print(z)

3

In [ ]:
 ## DATATYPES

In [26]:
name="roshan"

In [28]:
print(name)
type(name)

roshan

str

In [ ]:
## text data type is string data type

In [30]:
x=10
type(x)

int

In [ ]:
## IF THE NUMBER HAS NO DECIMAL TYPE IT IS INTEGER DATATYPE

In [34]:
x=False

In [35]:
type(x)

bool

In [ ]:
## IF TRUE OR FALSE THEN BOOLIAN DATATYPE

In [10]:
x=10.5
type(x)

float

In [ ]:
## decimal point is float datatype

#### python is case sensitive

### implicit conversion

In [11]:
x=10
y=16
x+y

26

In [14]:
x=10
y=16
x-y

-6

In [15]:
x=10
y=16
x/y

0.625

In [16]:
type(x/y)

float

In [17]:
x=4.5
y=5
x*y

22.5

In [18]:
# in implicit conversion the conversion is done by python interpreter without programmer intervention

## explicit conversion

In [19]:
x=10
y='ds'
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
x="ds"
y="da"     ###same data type {implicit conversion}
x+y

'dsda'

In [21]:
x=10.5
y="10"
x+int(y)           ### programmar's intervention

20.5

In [ ]:
int-->float

In [23]:
x=10
type(x)

int

In [24]:
float(x)

10.0

In [ ]:
int-->str

In [25]:
str(x)

'10'

In [ ]:
float-->int

In [29]:
x=10.56

In [30]:
int(x)

10

In [ ]:
float-->str

In [31]:
str(x)

'10.56'

In [ ]:
str-->int

In [32]:
x='hi'

In [33]:
int(x)

ValueError: invalid literal for int() with base 10: 'hi'

In [ ]:
str-->float

In [34]:
float(x)

ValueError: could not convert string to float: 'hi'