In [10]:
num1=10
num2=34
num3=5
if(num1>num2):
    print("num1 is greater")
else:
    if(num3>num2):
        print("num3 is greater")
    else:
        if(num2>num3):
            print("num2 is greater")

num2 is greater

In [3]:
num1=20
num2=65
num3=15
if(num1>num2):
    print(num2,"is greater")
else:
    if(num3>num2):
        print(num3,"is greater")
    else:
        print(num2,"is greater")

65 is greater

In [4]:
age_student1=1900
age_student2=100
age_student3=210
if(age_student1>age_student3):
    print(age_student1,"is elder")
else:
    if(age_student2>age_student3):
        print(age_student2,"is elder")
    else:
        print(age_student3,"is elder")

1900 is elder

In [6]:
age_student1=1900
age_student2=100
age_student3=210
if(age_student1>age_student3):
    print("age_student1 is elder")
else:
    if(age_student2>age_student3):
        print("age_student2 is elder")
    else:
        print("age_student3 is elder")

age_student1 is elder

In [7]:
# program to check password for a user id
user_id=input("enter user id:")
password=input("password:")
if(user_id=="ds_py"):
    if(password=="abc123"):
        print("passwprd accepted.logged in")
    else:
        print("wrong password. pleaese enter correct password")

enter user id:ds_py
password:abc123
passwprd accepted.logged in

In [14]:


if(user_id=="ds_py"):
    if(password=="abc123"):
        print("passwprd accepted.logged in")
    else:
        print("wrong password. pleaese enter correct password")

wrong password. pleaese enter correct password

### string

In [44]:
text="roshan dubey"
print(text)
type(text)

roshan dubey

str

In [18]:
text[0]

'r'

In [19]:
text[-1]

'y'

In [20]:
text[:]

'roshan dubey'

In [45]:
text[1:6]

'oshan'

In [22]:
text[:len(text)] ### len = length
#### space is also counted

'roshan dubey'

In [49]:
text[6:]

' dubey'

In [48]:
text[::-1]

'yebud nahsor'

In [25]:
text[:-1]

'roshan dube'

In [51]:
text="i love python"

In [27]:
text[1:-1]

' love pytho'

In [52]:
text[1:-1]

' love pytho'

In [29]:
text[2]

'l'

In [30]:
text[:-7:-1]

'nohtyp'

In [31]:
#### reverse the string and displace third last letter

In [53]:
text[::-1]

'nohtyp evol i'

In [58]:
text[::-1][-3]#### reverse the string and displace third last letter

'l'

In [59]:
text.replace("python","data science")

'i love data science'

In [35]:
text.upper()

'I LOVE PYTHON'

In [36]:
text.lower()

'i love python'

In [37]:
text.title()

'I Love Python'

In [38]:
date="04","06","2023"
sep='-'
sep.join(date)

'04-06-2023'

In [60]:
date="04","06","2023"
sep='/'
sep.join(date)

'04/06/2023'

In [61]:
date="04","06","2023"
sep='_'
sep.join(date)

'04_06_2023'

In [67]:
text="**i*am*roshan**"
text.strip("*")

'i*am*roshan'

### list

In [41]:
x_list=[1,2,3,4,"hello"]
x_list

[1, 2, 3, 4, 'hello']

In [68]:
print(x_list)

[1, 2, 3, 4, 'hello']

In [18]:
type(x_list)

list

### ELEMENTS IN A LIST ARE SEPERATED BY COMMA AND ENCLOSED IN SQUARE BRACKET

### LIST IS HETROGENOUS CAUSE IT CONTAIN MULTIPLE DATA TYPES

### LIST CAN HAVE DUPLICATES

In [71]:
book_list=["physics","chem","maths"]
print(book_list)
type(book_list)

['physics', 'chem', 'maths']

list

In [72]:
novels=["literature","english communication"]
novels

['literature', 'english communication']

In [73]:
varis=book_list+novels
varis

['physics', 'chem', 'maths', 'literature', 'english communication']

In [74]:
varis=novels+book_list
varis

['literature', 'english communication', 'physics', 'chem', 'maths']

In [76]:
novels.append("roshan")
novels

['literature', 'english communication', 'roshan', 'roshan']

In [77]:
novels.insert(1,"roshan")
novels

['literature', 'roshan', 'english communication', 'roshan', 'roshan']

In [80]:
avg_prices=[21,22,44,18,6]
avg_prices.sort()

In [79]:
avg_prices

[6, 18, 21, 22, 44]

In [81]:
pro=["apple","mango","oranges"]
pro.sort()
pro

['apple', 'mango', 'oranges']

In [42]:
avg_prices=[21,22,44,18,6]
avg_prices.sort(reverse=True)
avg_prices                                         #### for descending order

[44, 22, 21, 18, 6]

In [82]:
avg_prices1=sorted(avg_prices)
avg_prices1

[6, 18, 21, 22, 44]

In [45]:
products=["dairy","bakery","grocery","clothing"]
print("bakery"not in products)

False

In [46]:
print("bakery" in products)

True

In [49]:
for hexa in products:
    print(hexa)

dairy
bakery
grocery
clothing

In [50]:
prices=[4,6,-4,8,-5]
len(prices)

5

In [51]:
max(prices)

8

In [52]:
min(prices)

-5

In [53]:
products.clear()
products

[]

In [69]:
prices=[4,5,6,8,9,3,4,4,4,4]

In [62]:
prices.count(4)  ### how many are there

5

In [55]:
prices.count(8)

1

In [56]:
x=["hi","hello"]

In [70]:
prices.extend(x)
prices

[4, 5, 6, 8, 9, 3, 4, 4, 4, 4, 'hi', 'hello']

In [68]:
prices.index('hello')

11

In [71]:
prices.insert(3,"roshan")

In [72]:
prices

[4, 5, 6, 'roshan', 8, 9, 3, 4, 4, 4, 4, 'hi', 'hello']

In [73]:
prices.pop(2)
prices

[4, 5, 'roshan', 8, 9, 3, 4, 4, 4, 4, 'hi', 'hello']

In [74]:
prices.remove("hello")
prices

[4, 5, 'roshan', 8, 9, 3, 4, 4, 4, 4, 'hi']

In [75]:
prices.reverse()

In [76]:
prices

['hi', 4, 4, 4, 4, 3, 9, 8, 'roshan', 5, 4]

In [77]:
prices[0:3]

['hi', 4, 4]

In [78]:
prices=[4,5,6,8,9,3,2]

In [79]:
prices[0:3]

[4, 5, 6]

In [80]:
prices[-1]

2

In [81]:
prices[0:-1]

[4, 5, 6, 8, 9, 3]

In [82]:
prices[0]="ds"

In [83]:
prices

['ds', 5, 6, 8, 9, 3, 2]

In [84]:
#### list mutable---> change after craeting it that was not discussed

## day  4

#### TUPLE

#### 1) CONTAINER OBJECT
#### 2) HETROGENOUS---> ALLOWS MULITPLE DATA TYPES
#### 3) CAN HAVE DUPLICATES
#### 4) IMMUTABLE
#### 5)ELEMENTS ARE SEPERATED BY COMMA, ENCLOSED IN PARANTHESIS OR WITHOUT ANY BRACKET

In [94]:
x_tuple=(1,2,3,4,5,"roshan","dubey")

In [86]:
type(x_tuple)

tuple

In [87]:
print(x_tuple)

(1, 2, 3, 4, 5, 'roshan', 'dubey')

In [99]:
sorted(x_tuple)

TypeError: '<' not supported between instances of 'str' and 'int'

In [98]:
s_tuple[1]

2

In [91]:
s_tuple[10]

IndexError: tuple index out of range

In [93]:
s_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [100]:
sorted(s_tuple)

[1, 2, 3, 4, 5]

In [101]:
sorted(s_tuple,reverse=True)

[5, 4, 3, 2, 1]

In [106]:
n=5
rep_tuple=s_tuple*n
rep_tuple

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [108]:
s1_tup=(1,2,3,4)
s2_tup=(5,8,7,9)
sam=s1_tup+s2_tup
sam

(1, 2, 3, 4, 5, 8, 7, 9)

In [109]:
print(10 in s1_tup)

False

In [110]:
print(2 in s1_tup)

True

In [111]:
print(10 not in s1_tup)

True

In [127]:
tools=("python","r","excel")
for every_tool in tools:
    print(every_tool)       ##iteration

python
r
excel

In [128]:
len(tools)

3

In [129]:
prices=(100,200,213,132,167,789)

In [130]:
max(prices)

789

In [131]:
min(prices)

100

In [ ]:
prices=(100,200,213,132,167,789)

In [132]:
prices.append(50)
prices

AttributeError: 'tuple' object has no attribute 'append'

In [133]:
prices[2].append(50)

AttributeError: 'int' object has no attribute 'append'

In [2]:
prices=(100,200,213,132,167,789,[1,2,3])
prices[6].append(50)
prices

(100, 200, 213, 132, 167, 789, [1, 2, 3, 50])

In [141]:
prices[0:3]

(100, 200, 213)

In [1]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
tuple1=('apple')
print(type(tuple1))

<class 'str'>

In [5]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

### Dictionary

#### 1) key value pair
#### 2) {}
#### 3) For Indexing- square bracket
#### 4) Mutable

In [2]:
dict1={'name':"arun","hobbies":['painting','singing','cooking'],1:23}

In [3]:
dict1

{'name': 'arun', 'hobbies': ['painting', 'singing', 'cooking'], 1: 23}

  #### before ':' are called keys

In [4]:
dict1[keys]

NameError: name 'keys' is not defined

In [5]:
dict1.keys()

dict_keys(['name', 'hobbies', 1])

In [6]:
dict1['name']="mukund"  ### Mutable
dict1

{'name': 'mukund', 'hobbies': ['painting', 'singing', 'cooking'], 1: 23}

In [7]:
del dict1['name']

In [8]:
dict1

{'hobbies': ['painting', 'singing', 'cooking'], 1: 23}

In [9]:
dict1.update({"class":"ds"})

In [10]:
dict1

{'hobbies': ['painting', 'singing', 'cooking'], 1: 23, 'class': 'ds'}

In [14]:
dict1.update({"name":"roshan","class":"bsc"})
dict1

{'hobbies': ['painting', 'singing', 'cooking'],
 1: 23,
 'class': 'bsc',
 'name': 'roshan'}

In [15]:
len(dict1)

4

In [16]:
dict1.items()

dict_items([('hobbies', ['painting', 'singing', 'cooking']), (1, 23), ('class', 'bsc'), ('name', 'roshan')])

In [18]:
dict1.get("hobbies")

['painting', 'singing', 'cooking']

In [21]:
dict1.get("class")

'bsc'

In [ ]:
#### Sets

In [23]:

x_sets={1,1,4,5,2,3,4,5,6,1.5,9.5,13.4,44.5,'hi','hello'} ##donot allows duplication
x_sets

{1, 1.5, 13.4, 2, 3, 4, 44.5, 5, 6, 9.5, 'hello', 'hi'}

In [25]:
x_sets.update([0])

In [26]:
x_sets

{0, 1, 1.5, 13.4, 2, 3, 4, 44.5, 5, 6, 9.5, 'hello', 'hi'}

In [27]:
x_sets[0]

TypeError: 'set' object is not subscriptable

In [28]:
x_sets[0]=1

TypeError: 'set' object does not support item assignment

In [30]:
x_sets.add(100)
x_sets

{0, 1, 1.5, 100, 13.4, 2, 3, 4, 44.5, 5, 6, 9.5, 'hello', 'hi'}

In [33]:
x_sets.remove(13.4)
x_sets

{0, 1, 1.5, 2, 3, 4, 44.5, 5, 6, 9.5, 'hello', 'hi'}

#### Sets do not allow dupicates
#### We cannot retrieve the set using index 
#### Sets is mutable 
#### ordered- First place

In [40]:
### loops

In [ ]:
### while loops

In [49]:
# program to find the sumation of all natural numbers till 10
num=10
# initiate addition and counter
addition=0
i=1
while(i<=num):    # while loop with termination condition
    addition=addition+i
    i=i+1         # incrementing the counter by 1 everytime loop is executed
# print the sum
print("addition is:")
addition

addition is:

55

In [58]:
# program to find the sumation of all natural numbers till 10 using for loop
num= range(0,11)

addition=0
for i in num:      # i takes one value at a time from 1 till every single iteration

    addition=addition+i
 
### print the sum
print("addition is:")
addition

addition is:

55

In [62]:
###  declare a string variable
y='infotainment'
for letter in y:  # letter take one letter at a time for every iteration over the string
    if letter=='e':  # condition to stop the execution of the loop
        break
    print(letter)
print('the for loop stopped executing')

i
n
f
o
t
a
i
n
m
the for loop stopped executing

In [63]:
###  declare a string variable
y='infotainment'
for letter in y:
    if letter:='e':
        break
    print(letter)
print('the for loop stopped executing')

the for loop stopped executing

In [68]:
y='infotainment hut'
for letter in y:
    if letter==' ':
        print('the letter skipped space here')
        continue
    print(letter)

i
n
f
o
t
a
i
n
m
e
n
t
the letter skipped space here
h
u
t

In [ ]:
### outer loop

In [71]:
# print a number pattern using a for loop and range function
# take levels from user
levels=int(input('enter number of levels'))
for level in range(1,levels+1):
    for num in range(level):
        print(level,end=' ') # print numbers
        # new line after row to display pattern clearly
    print('\n')

enter number of levels10
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

10 10 10 10 10 10 10 10 10 10